@import "bourbon/bourbon";

.split-table td {
	padding: 10px;
	@include border-top-radius(5px);
	@include border-bottom-radius(5px);
	@include border-left-radius(5px);
	@include border-right-radius(5px);
	@include border-style(solid);
} 	


.shrink-table td {
	font-size: 10pt;	
}

.instruction-table td {
	padding: 5px;
	font-size: 10pt;
}

.flex-image img {
	@include display(inline-flex);
	@include justify-content(flex-end);
	width:175%;
	height: auto;
}

.flex-image p {
	font-size: 8pt;
}

pre {
	@include border-style(thin thin thin);
	@include border-top-radius(5px);
	@include border-right-radius(5px);
	@include border-bottom-radius(5px);
	@include border-left-radius(5px);
	@include border-color(#70696e #70696e #70696e #70696e);
	@include padding(10px 40px 10px 10px);
	background-color: #e9f4fc;
}

pre > span {
	@include word-wrap;
}

h1 {
	@include text-decoration-line(underline);
	color: #6a5f51;
}

body {
	@include background(linear-gradient(#63747e, #a9c0c0) left repeat);
	font-size: modular-scale(2);
}

